html {
	scroll-behavior: smooth;
}
body {
	color: #161616; /* Foreground color */
}
a {
	color: #161616; /*anchor elements styling */
}
.visually-hidden {
	display: none; /*hide the element*/
}
.card-category {
	color: #D73953;
}
.section-tagline {
	color: #D73953;
}